body{
    background: rgb(177,0,0);
    background: radial-gradient(circle, rgba(177,0,0,1) 0%, rgba(45,0,9,1) 100%);
}

.user-card{
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    height: 200vh;
    margin: 0 40vh 0 40vh;
    box-shadow: 0 0 10px 0 rgb(155, 0, 0);
}

.proximamente{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 20vh;
}