body{
    background-color: aquamarine;
}

.user-card{
    background-color: rgba(0, 0, 0, 0.581);
    border-radius: 10px;
    padding: 50vh;
    margin: 0 35vh 0 35vh;
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.2);
}